:root {
  /*Farver*/
  --primary-background: #dae4e6;
  --secondary-background: #f2efeb;

  --tertiary-background: #8094a6;

  --primary-blue: #071b33;

  --font-blue: #071b33;

  /*Font-weight*/
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 600;
  --verybold: 700;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  max-width: 2000px;
  min-height: 100vh;
  margin: auto;
  background-color: var(--primary-background);
  color: var(--font-blue);
}

/* Typografi Mobil*/
h1 {
  font-family: Martel;
  font-size: 3.5rem;
  font-weight: var(--font-blue);
}

h2 {
  font-family: "Montserrat";
  font-size: 2.25rem;
  font-weight: var(--font-blue);
}

.citat {
  font-family: "Martel";
  font-size: 1.25rem;
  font-style: italic;
  font-weight: var(--font-blue);
}

h3 {
  font-family: "Martel", "sans";
  font-size: 1.7rem;
  font-weight: var(--medium);
}

.h3_light {
  font-family: "Martel";
  font-size: 1.7rem;
  font-weight: var(--regular);
}

h4 {
  font-family: "Martel";
  font-size: 1.3125rem;
  color: var(--font-black);
  font-weight: var(--regular);
}

p,
a {
  font-family: "Martel";
  font-size: 1rem;
  font-weight: var(--regular);
  text-decoration: none;
}

@media (min-width: 900px) {
  /*Typografi Web*/
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4.375rem;
  }

  .citat {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 3rem;
  }

  .h3_light {
    font-size: 3rem;
  }
  /* H4 web */
  h4 {
    font-family: "Montserrat";
    font-size: 2.25rem;
  }

  p {
    font-size: 1.875rem;
  }

  a {
    font-size: 1.3rem;
    align-self: center;
    justify-content: center;
  }
}
