<footer>
  <div class="container_footer">
    <div class="forste_kolonne">
      <h4>ÅBNINGSTIDER</h4>

      <p>Tirsdag: 14-19</p>
      <p>Onsdag: 9-15</p>
      <p>Torsdag: 14-19</p>
      <p>Fredag: 9-15</p>
      <p>Lørdag: 10-15</p>
    </div>

    <div class="anden_kolonne">
      <h4>INFO</h4>

      <p>Handelsbetingelser</p>
      <p>Cookie- & Privatpolitik</p>
    </div>

    <div class="tredje_kolonne">
      <h4>SOCIALE MEDIER</h4>

      <p>Facebook</p>
      <p>Instagram</p>
    </div>

    <div class="fjerde_kolonne">
      <h4>KONTAKT</h4>

      <p>Falkevej 27 - 3200 Helsinge</p>
      <p>Tlf: +45 26911919</p>
      <p>massageholistisk@gmail.com</p>
    </div>

    <div class="femte_kolonne">
      <p>Her skal ikonerne sætte ind</p>
    </div>
  </div>
</footer>

<style>
  h4 {
    color: var(--font-blue);
  }

  .container_footer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    line-height: 2.4;
  }

  footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: var(--primary-background);
  }

  @media (min-width: 900px) {
  }
</style>
