---
import "../styles/styles.css";
---

<ul>
  <div class="container">
    <div class="navi"></div>
    <li class="Home">
      <a href="../tips">Holistisk Massage- & Zoneterapi</a>
    </li>
    <li class="book"><a href="../tips">Book tid</a></li>
    <li class="behanlinger"><a href="../tips">Behandlinger</a></li>
    <li class="produkter"><a href="../tips">Produkter</a></li>
    <li class="blog"><a href="../tips">Blog</a></li>
    <li class="om"><a href="../tips">Om</a></li>
  </div>

  <div class="icons">
    <li><a href="#"><img src="../images/instagram.svg" alt="insta" /></a></li>
    <li>
      <a href="#"><img src="../images/facebook.svg" alt="facebook" /></a>
    </li>
  </div>
</ul>

<style>
  a {
    color: var(--font-blue);
    text-decoration: none;
  }

  @media (min-width: 900px);
   {
  }
</style>
